body {
  margin: 0;
  padding: 0;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.header {

  background-color: white;
  /* width: 300vh; */
  color: rgb(35, 33, 28);
  display: flex;
  justify-content: space-between;
  font-family: 'Courier New', Courier, monospace;
  
  
}

.user{
  display: flex;

gap: 2px;
}
.user i{
  color: #8490ff;
  padding: 1px;

}

ul {
  align-items: center;
  display: flex;
  list-style: none;
  gap: 2rem;
}

a {
  color: rgb(35, 33, 28);
  text-decoration: none;

}

.hero{
  display: flex;
  align-items: center;
  gap:2rem ;
  padding: 2rem 5rem;
  height: 500px;
}

/* #about{
  background-color: red;
} */
.image img{
  width: 100%;
  height: 350px;

}
.leftabout{
  background-color: white;
  width: 80%;
  height: 300px;
 border-radius: 10px;

}


.rightabout{
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: white;
  width: 80%;
  height: 300px;
  padding-left: 20px;
  padding-top: 10px;
}
.aboutper{
  font-weight: bold;
  font-size: 20px;
}
.aboutbutton{
  background-color: #8490ff;
  color: white;
  font-weight: bold;
  width: 40%;
  padding: 10px;
  border-radius: 3px;
  border: none;
}


.about{
  display: flex;
  gap: 20px;
  align-items: center;

}
.about{
  align-items: center;
  display: flex;
  padding: 2rem 5rem;
  gap: 10rem; 
  background-color: #f5f6f8;
}






.servicetitle{
 display: flex;
 flex-direction: column;
}
.servicetitle h6{
  font-size: 16px;
}

.cardscenter:hover{
  color: #8490ff;
}
.cards p{
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.servin{
  display: flex;
  padding: 2rem 7rem;
  gap: 5rem;
}
.sever{
  background-color: #f5f6f8;
 display: grid;
 grid-template-columns: repeat(3,1fr);
  padding: 2rem 7rem;
  gap: 5rem;
  transition: 1000ms;

}



.enter{
  padding: 2rem 20rem;
  align-items: center;
  display: flex;
}
.enter.en{
  display: flex;
}
.cot{
  height: 4rem;
  padding: 2rem 35rem;
  align-items: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.cont{
  background-color: aliceblue;
  height: 135px;
  display: flex;
  gap: 5rem;
  padding:10rem 6rem;
}
.copy{
  color: white;
}
.cont.lon{
  width: 2rem;
  border-radius: 2rem;
  height: 2rem;
}
form{
  margin: 35px;
}
.contactdiv{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.inputcontact{
  width: 400px;
  height: 40px;
  border: 1px solid #777;
  border-radius: 3px;
  margin-top: 2px;
  outline: none;
  
}

footer{
  height: 15rem;
  background-color: #333;
}
.foot{
 
  background-color: #333;
  color: #fff;
  justify-content: space-around;
  gap: 10px;
  display: flex;
}
.links-s{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.links-s a{
  color: white;
}


.about-section{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.newsletter-section form {
  display: flex;
}

.newsletter-section input[type="email"] {
  padding: 5px;
  border: none;
  border-radius: 3px 0 0 3px;
  height: 2rem;
  width: 2rem;
}

.newsletter-section button {
  flex: 1;
  background-color:#8490ff;
  color: #fff;
  border: none;
  border-radius: 0 3px 3px 0;
  font-size: 12px;
  cursor: pointer;
}
.newsletter-section p{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.newsletter-section h3{
  font-family: Arial, Helvetica, sans-serif;
}
.social-links {
  list-style: none;
  padding: 0;
}

.social-links li {
  margin-bottom: 5px;
}

.social-links {
  text-decoration: none;
}


.text h1{

  font-size: 60px;
}
.simplecard{

 border-color: #8490ff;
 border-style: solid;
 border-radius: 5px;
 border-width: 8px;
  width: 100%;
  height: 350px;

}

.hireme {

  background-color: #8490ff ;
  width: 25%;
  height: 50px;
  border-radius: 7px;
  align-content: center;
  cursor: pointer;
}
.hireme p{
  align-content: center;
  padding: 15px 50px;
  color: white;
  font-size: 14x;

  
}


.circle1{
  height: 150px;
width: 150px;
background-color: rgb(226,229,255);
display: flex;
justify-content: center;
align-items: center;
border-radius: 50%;  
}
.circle {
height: 100px;
width: 100px;
background-color: rgb(237,239,255);
border-radius: 50%;
position: relative;

}
.contents{
    position: absolute;
    width: inherit;
    height: auto;
    text-align: center;
    top: 40%;
    font-size: 20px;
    transform: translateX(-50%);
    
}
.servicetitl h6{
  font-size: 20px;
}
.circle-div{
    display: flex;
    gap: 50px;
    justify-content: center;
}
.circle-title{
   font-size: 17px;
   font-weight: bold;
}








.social-links a:hover {
  text-decoration: underline;
}
.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.contactsection{
  padding-top: 60px;
}
.contact-item {
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.contactmap{
  width: 95%;
  border: none;
  border-radius: 5px;
  height: 20rem;
}
.contacttitle{
  background-color: #8490ff;
  padding: 50px;
}
.contact-item i {
  font-size: 10px;
  margin-right: 10px;
  color: #333;
}

.contact-item p {
  margin: 0;
  font-size: 13px;
  color: #333;
}
.bbbb{
  background-color: #f5f6f8;
}
.cot{
  background-color: white;
}
.navs{
  display: flex;
  width: 72rem;
  gap: 30rem;
  padding: 0px 60px 0px 90px ;
  position: fixed;
  background-color: white;
  box-shadow: 0px 2px 2px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  /* margin-bottom: 200px; */
  /* margin-top: 40px; */
}
/* portfolio */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.portofoliolink{
display: flex;
justify-content: center;
gap: 20px;

}

.portofoliolink a {
  font-size: 13px;
}
.portofoliolink a:hover{
  color: #8490ff;
}

.pimage {
  width: 21rem;
  height: auto;
}
  .port{
    background-color:white;
    padding: 2rem 35rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  .content{
display: grid;
padding-left: 6rem;
padding-right: 6rem;
grid-template-columns: repeat(3,1fr);
  }
 .contentitem{
  display: flex;
  flex-direction: column;
 }
  /* footter */
  .follow i{
    font-size: 1rem;
    color: white;
  }
  .follow h3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  .follow p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }