.pricepargraph{
    padding-top: 70px;
    background-color:#8490ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.pricepargraph h6{
    font-size: 25px;
}
.icon-paragraph{
    display: flex;
    gap: 10px;
}
.circle1{
  height: 150px;
width: 150px;
background-color: rgb(226,229,255);
display: flex;
justify-content: center;
align-items: center;
border-radius: 50%;  
}
.circle {
height: 100px;
width: 100px;
background-color: rgb(237,239,255);
border-radius: 50%;
position: relative;

}
.content{
    position: absolute;
    width: inherit;
    height: auto;
    text-align: center;
    top: 40%;
    font-size: 20px;
    transform: translateX(-22%);
    
}
.circle-div{
    display: flex;
    gap: 50px;
    justify-content: center;
}
.circle-title{
   font-size: 17px;
   font-weight: bold;
}
