.projectpargraph{
    padding-top: 70px;
    background-color:#8490ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.projectpargraph h6{
    font-size: 25px;
}
.icon-paragraph{
    display: flex;
    gap: 10px;
}